@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 12px;
}

table {
	border: 1px solid red;
	td {
		border: 1px solid red;
	}
	th {
		border: 1px solid red;
	}
}

.selected {
	outline: 1px dotted aqua;
	background: red;
}