@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 12px;
}

table {
  border: 1px solid red;
}
table td {
  border: 1px solid red;
}
table th {
  border: 1px solid red;
}

.selected {
  outline: 1px dotted aqua;
  background: red;
}
